<body class="profile-page sidebar-collapse">
<div class="page-header header-filter header-small" data-parallax="true" style="background-image: url('http://antoinethiebaut.be/wp-content/uploads/2018/06/contact-maison-inspiration-de-conception-1.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto">
        <div class="brand text-center">
          <h1 class="title text-primary">Modifier ton profil</h1>
          <h3 class="title text-center"></h3>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="main main-raised">
  <div class="profile-content">
    <div class="container">
      <div class="row">
        <div class="col-md-6 ml-auto mr-auto">
          <div class="profile">
            <div class="avatar">
              <img src="https://upload.wikimedia.org/wikipedia/commons/8/89/Portrait_Placeholder.png" alt="Circle Image" class="img-raised rounded-circle img-fluid">
            </div>
            <div class="name">
              <h3 class="title"><%= @user.username %></h3>
              <h6>Derniére modification le <%= @user.updated_at.strftime("%m-%Y")%> </h6>
            </div>
            <div>
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
              <div class="field"><br/>
                <%= f.email_field :email, class: 'form-control', placeholder: "Votre email" %>
               </div>
              <div class="field"><br/>
                <%= f.text_field :username, class: 'form-control', placeholder: "Nom d'utilisateur"%>
              </div>
              <div class="field"><br/>
                <%= f.text_area :description, rows: 5, class: 'form-control', placeholder: "Votre description"%>
              </div>

              <div class="field"><br/>
                <%= f.password_field :password, class: 'form-control', placeholder: "Nouveau mot de passe (Laisser blanc si vous ne souhaitez pas le modifier)" %>
              </div>
              <div class="field">
              <br/>
                <%= f.password_field :password_confirmation, class: 'form-control', placeholder: "Confirmer nouveau mot de passe" %>
              </div>
              <div class="field"><br/>
                <%= f.password_field :current_password, class: 'form-control', placeholder: "Mot de passe actuel (Obligatoire pour valider vos changement)" %>
              </div>
              <div class="actions">
              <br>
                <%= f.submit "Mise à jour", class: "btn btn-rose btn-link btn-lg" %>
                <%= link_to "Retour", user_path(current_user), methode: :get, class: "btn btn-rose btn-link btn-lg" %>
              </div>
            <% end %>
              <div>
            <%= button_to "Supprimer mon compte", registration_path(resource_name), data: { confirm: "Etes-vous sure de vouloir nous quitter ?" }, method: :delete, class: "btn btn-rose btn-round" %>
              </div>
            </div>  
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>