<!--
 =========================================================
 Material Kit PRO - v2.2.0
 =========================================================

 Product Page: https://themes.getbootstrap.com/product/material-kit-pro/
 Copyright 2019 Creative Tim (https://www.creative-tim.com)

 Coded by Creative Tim

 =========================================================

 The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<div class="page-header header-filter" style="background-image: url('http://eskipaper.com/images/background-images-1.jpg'); background-size: cover; background-position: top center;">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-8 ml-auto mr-auto">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <form class="form" action="show">  
          <div class="card card-signup card-hidden">
            <div class="card-header card-header-primary text-center">
              <h4 class="card-title text-center">Inscription</h4><br/>
            </div>
              <span class="bmd-form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">mail</i>
                    </span>
                  </div>
                    <%= f.email_field :email, class: 'form-control', autofocus: true, placeholder: "Votre email" %>
                </div>
              </span>
              <span class="bmd-form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">face</i>
                    </span>
                  </div>
                    <%= f.text_field :username, class: 'form-control', autofocus: true, placeholder: "Votre pseudo" %>
                </div>
              </span>
              <span class="bmd-form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">lock_outline</i>
                    </span>
                  </div>
                    <%= f.password_field :password, class: 'form-control', placeholder: "Mot de passe" %>
                </div>
              </span>
              <span class="bmd-form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">lock_outline</i>
                    </span>
                  </div>
                    <%= f.password_field :password_confirmation, class: 'form-control', placeholder: "Retaper le mot de passe" %>
                </div>
              </span>
            
            <div class="card-footer justify-content-center">
              <%= f.submit "Commencer avec nous", class: 'btn btn-rose btn-link btn-lg' %>
            </div>
            <p class="text-center">Déja inscrit ? <%= link_to "Connectez-vous", new_user_session_path %> </p>
          </div>
        </form>
          <% end %>
      </div>
    </div>
  </div>
</div>
    