<!--
 =========================================================
 Material Kit PRO - v2.2.0
 =========================================================

 Product Page: https://themes.getbootstrap.com/product/material-kit-pro/
 Copyright 2019 Creative Tim (https://www.creative-tim.com)

 Coded by Creative Tim

 =========================================================

 The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<body class="profile-page sidebar-collapse">
  <div class="page-header header-filter" data-parallax="true" style="background-image: url('https://crazylittleprojects.com/wp-content/uploads/2017/10/Supplies-Needed-to-Start-Sewing.jpg');"></div>
  <div class="main main-raised">
    <div class="profile-content">
      <div class="container">
        <div class="row">
          <div class="col-md-6 ml-auto mr-auto">
            <div class="profile">
              <div class="avatar">
                <img src="https://upload.wikimedia.org/wikipedia/commons/8/89/Portrait_Placeholder.png" alt="Circle Image" class="img-raised rounded-circle img-fluid">
              </div>
              <div class="name">
                <h3 class="title"><%= @user.username %></h3>
                <h6>Inscrit.e depuis le <%= @user.created_at.strftime("%m-%Y")%> </h6>           
              </div>
            </div>
          </div>
        </div>
        <div class="description text-center">
          <p> <%= @user.description %> </p><br/><br/>
          <a href="/lessons/new">
          <button class="btn btn-success btn-lg btn-round">Proposer un cours<div class="ripple-container"></div></button>
          </a>
        </div>
        <div class="row">
          <div class="col-md-6 ml-auto mr-auto">
            <div class="profile-tabs">
              <ul class="nav nav-pills nav-pills-icons justify-content-center" role="tablist">
                <li class="nav-item">
                  <a class="nav-link" href="#subscribed" role="tab" data-toggle="tab">
                    <i class="material-icons">beenhere</i>
                    Mes abonnements
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#mycourses" role="tab" data-toggle="tab">
                    <i class="material-icons">create</i>
                    Mes cours
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="tab-content tab-space">
          <div class="tab-pane text-center gallery" id="subscribed">
            <div class="row">
              <div class="col ml-auto">
              <div class="table-responsive">
    
                  <table class="table">
                    <thead>
                      <tr>
                        <th class="text-center">#</th>
                        <th>Cours suivis</th>
                        <th>Catégorie</th>
                        <th>Professeur</th>
                        <th>Actions</th>
                      </tr>
                    </thead>
                    <% @classrooms.each do |classroom|%>
                    <tbody>
                      
                        <td class="text-center"><%= classroom.id %></td>
                        <td><%= classroom.lesson.title %></td>
                        <td> <%= classroom.lesson.category %> </td>
                        <td><%= classroom.lesson.teacher.email %>   </td>
                        <td class="td-actions text-right">
                          <a  href="<%= lesson_path(classroom.lesson.id)%>" rel="tooltip" class="btn btn-success btn-just-icon btn-sm" data-original-title="" title="">
                            <i class="material-icons">done_outline</i>
                          </a>
                          <a <%= link_to "destroy", lesson_classroom_path(lesson_url , classroom.id), method: :delete %> >
                            <i class="material-icons">close</i>
                          </a>
                        </td>
                    
                    </tbody>
                    <% end %>
                  </table>
                  
      </div> 
                
              </div>
            </div>
          </div>
          <div class="tab-pane text-center gallery" id="mycourses">
            <div class="row">
              <div class="col ml-auto">
              <div class="table-responsive">
    
                  <table class="table">
                    <thead>
                      <tr>
                        <th class="text-center">#</th>
                        <th>Titre du cours</th>
                        <th>Catégorie</th>
                        <th>Nombre élève</th>
                        <th>Actions</th>
                      </tr>
                    </thead>
                    <% @taught_lessons.each do |taught_lesson| %>
                    <tbody>
                      
                        <td class="text-center"><%= taught_lesson.id %></td>
                        <td><%= taught_lesson.title %></td>
                        <td> <%= taught_lesson.category %> </td>
                        <td><%=Classroom.where(lesson_id: taught_lesson).count %>   </td>
                        <td class="td-actions text-right">
                          <button type="button" rel="tooltip"   class="btn btn-info btn-just-icon btn-sm" data-original-title="" title=""  >
                            <i class="material-icons">done_outline</i>
                          </button>
                          <button type="button" rel="tooltip" class="btn btn-success btn-just-icon btn-sm" data-original-title="" title="">
                            <i class="material-icons">edit</i>
                          </button>
                          <button type="button" rel="tooltip" class="btn btn-danger btn-just-icon btn-sm" data-original-title="" title="">
                            <i class="material-icons">close</i>
                          </button>
                        </td>
                    
                    </tbody>
                    <% end %>
                  </table>
                  
      </div>
          
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
 