  <div class="page-header header-filter" data-parallax="true" style="background-image: url(/assets/background/back_index_lesson);">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <div class="brand text-center">
            <h1 class="title">Couture Academy</h1>
            <h3 class="title text-center">Apprenez à faire vos vêtements vous même grâce à des ateliers en ligne</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main main-raised">
    <div class="container">
        <div class="title">
              <br/><h3 class="title">Les catégories</h3>
            </div>
              <div class="row">
               <div class="col-md-3">
                <div class="card card-background" style="background-image: url(/assets/card/card_base);">
                  <div class="card-body">
                    <h3 class="card-title">Les bases</h3><br/><br/><br/><br/>
                    <a href="/categories/Les%20bases" class="btn btn-danger btn-round">
                      <i class="material-icons">subject</i> Voir les cours
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="card card-background" style="background-image: url(/assets/card/card_embroidery);">
                  <div class="card-body">
                    <h3 class="card-title">Broderie</h3><br/><br/><br/><br/>
                    <a href="/categories/Broderie" class="btn btn-danger btn-round">
                      <i class="material-icons">subject</i> Voir les cours
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="card card-background" style="background-image: url(/assets/card/card_sew);">
                  <div class="card-body">
                    <h3 class="card-title">Couture</h3><br/><br/><br/><br/>
                    <a href="/categories/Couture" class="btn btn-danger btn-round">
                      <i class="material-icons">subject</i> Voir les cours
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="card card-background" style="background-image: url(/assets/card/card_model);">
                  <div class="card-body">
                    <h3 class="card-title">Modélisme</h3><br/><br/><br/><br/>
                    <a href="/categories/Modélisme" class="btn btn-danger btn-round">
                      <i class="material-icons">subject</i> Voir les cours
                    </a>
                  </div>
                </div>
              </div>
            </div>
      <div class="container" id="courses">
        <div class="title">
          <br/><h3 class="title">Tous nos cours</h3>
      </div>
      <div class="row">
      <% @lessons.each do |lesson|%>
              <div class="col-md-6 col-lg-4">
                <div class="rotating-card-container manual-flip" style="margin-bottom: 30px;">
                  <div class="card card-rotate">
                    <div class="front front-background" style="background-image: url(/assets/card/card_lesson);">
                      <div class="card-body">
                        <h5 class="card-category card-category-social text-success">
                          <%= lesson.category %>
                        </h5>
                        <h4 class="card-title">
                          <%= lesson.title%>
                        </h4>
                        <p class="card-description">
                          <div><%= lesson.summary %></div>
                        </p>
                        <div class="card-footer ">
                  </div>
                        <div class="stats text-center">
                          <button type="button" name="button" class="btn btn-success btn-fill btn-round btn-rotate">
                            <i class="material-icons">refresh</i> En savoir plus
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="back" style="width: 289.984px;">
                      <div class="card-body">
                        <br>
                        <h5 class="card-title">
                          Lancez vous !
                        </h5>
                        <p class="card-description">
                          <%= lesson.summary %></p><br/>
                        <div class="author">
                          <h6>Proposé par <%= lesson.teacher.username %></h6>
                        </div><br/>
                        <div class="stats text-center">
                          <a href="<%= lesson_path(lesson.id)%>" class="btn btn-rose btn-round">
                            <i class="material-icons">subject</i> Consulter
                          </a>
                        </div>
                        <br>
                        <button type="button" name="button" class="btn btn-link btn-round btn-rotate">
                          <i class="material-icons">refresh</i> Retour
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
      <% end %>
            </div>
    </div>
    </div>
  </div>