<!--
 =========================================================
 Material Kit PRO - v2.2.0
 =========================================================
 Product Page: https://themes.getbootstrap.com/product/material-kit-pro/
 Copyright 2019 Creative Tim (https://www.creative-tim.com)
 Coded by Creative Tim
 =========================================================
 The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<body class="blog-post sidebar-collapse">
  <div class="page-header header-filter" data-parallax="true" style="background-image: url(/assets/background/back_show_lesson.jpg);">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <h1 class="title"><%= @lesson.title %></h1>
          <h4>Un cours proposé par <%= @lesson.teacher.username %></h4>
          <br>
        </div>
      </div>
    </div>
  </div>
  <div class="main main-raised">
    <div class="container">
      <div class="section section-text">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
            <% if is_student_to_current_lesson(@lesson)  %>
              <a class="btn btn-primary btn-round" href="#" data-toggle="tab"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Inscrit.e</font></font></a>
              <div class="ripple-container"></div>
              <% else %>
                <%= link_to "S'inscrire", lesson_classrooms_path(@lesson.id), method: :post, class:"btn btn-primary btn-round"   %>
              <div class="ripple-container"></div>
              <% end %>
            <p><%= raw(@lesson.content) %></p>
          </div>
        </div>
      </div>
      <div class="section section-blog-info">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
            <div class="row">
              <div class="col-md-6">
                <div class="blog-tags">
                  Catégorie :
                  <span class="badge badge-primary badge-pill"><%= @lesson.category %></span>
                </div>
              </div>
            </div>
            <hr>
          </div>
        </div>
      </div>
      <div class="section section-comments">
        <div class="row">        
          <div class="col-md-8 ml-auto mr-auto">
            <div class="media-area">
              <h3 class="title text-center">Commentaires</h3>
              <% @comments.each do |comment| %> 
                <% if @lesson.id == comment.lesson_id %>
              <div class="media">  
                <a class="float-left" href="#">
                  <div class="avatar">
                  <%if comment.user.avatar.attached?%>
                    <%= image_tag comment.user.avatar, alt: 'avatar', class:"avatar img-raised" %>
                  <%else%>
                    <%= image_tag "avatar/void_avatar.jpg", alt: 'avatar', class:"avatar img-raised" %>
                  <%end%>    
                  </div>
                </a>
                <% if @lesson.id == comment.lesson_id %>      
                <div class="media-body">
                  <h4 class="media-heading"><%= comment.user.username %><small>  Posté le <%= comment.created_at.strftime("%d/%m/%Y")%> à <%= comment.created_at.strftime("%H:%M:%S")%></small></h4>
                  <h6 class="text-muted"></h6>
                  <p><%= comment.content %></p>
                  <br>
                    <% if session[:user_id]%> 
                      <% if current_user.id == @lesson.user_id || current_user.id == comment.user_id%>
                      <%end%>
                    <%end%>
                </div>   
              </div>
                  <% end %>
                <% end %>
              <% end %>

              <h3 class="text-center">Laissez votre commentaire <br></h3>

              <div class="media media-post">
                <a class="author float-left" href="#">
                  <div class="avatar">
                      <%if current_user.avatar.attached?%>
                        <%= image_tag current_user.avatar, alt: 'avatar', class:"avatar img-raised" %>
                      <%else%>
                      <%= image_tag "avatar/void_avatar.jpg", alt: 'avatar', class:"avatar img-raised" %>

                      <%end%>    
                      
                  </div>
                </a>
                <div class="media-body">
                    <%= form_with model: @comment, url: [@lesson, @comment], local: true, class: "form" do |form| %>
                  <div class="form-group label-floating bmd-form-group">
                    <%= form.text_field :content, class: "form-control", placeholder: "Contenu du commentaire" %>           
                  </div>
                  <div class="media-footer">
                    <%= form.submit class: "btn btn-primary btn-round btn-wd float-right", value: "Poster le commentaire" %>
                  </div>
                    <% end %>
                </div>
              </div>       
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>