<body class="blog-post sidebar-collapse">
  <div class="page-header header-filter" data-parallax="true" style="background-image: url('https://static.wixstatic.com/media/40da79353be1422480640cb59eb29b1f.jpg/v1/fill/w_2313,h_1301,al_c,q_85/40da79353be1422480640cb59eb29b1f.jpg');">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <h1 class="title"><%= @lesson.title %></h1>
          <h4>Un cours proposé par <%= @lesson.teacher.username %></h4>
          <br>
        </div>
      </div>
    </div>
  </div>
  
  <div class="main main-raised">
    <div class="container">
      <div class="section section-text">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
                <%= link_to "S'inscrire", lesson_classrooms_path(@lesson.id), method: :post, class:"btn btn-primary btn-round"%><br/><br/>
            <div class="trix-content"><%= raw(@lesson.content) %></div>
          </div>
        </div>
      </div>
      <div class="section section-blog-info">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
            <div class="row">
              <div class="col-md-6">
                <div class="blog-tags">
                  Catégorie :
                  <span class="badge badge-primary badge-pill"><%= @lesson.category %></span>
                </div>
              </div>
            </div>
            <hr>
          </div>
        </div>
      </div>
      <div class="section section-comments">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
            <div class="media-area">
              <h3 class="title text-center">Commentaires</h3>
              <div class="media">
                <a class="float-left" href="#pablo">
                  <div class="avatar">
                    <img class="media-object" src="https://upload.wikimedia.org/wikipedia/commons/8/89/Portrait_Placeholder.png" alt="...">
                  </div>
                </a>
                <div class="media-body">
                  <h4 class="media-heading">Tina Andrew <small>&#xB7; 7 minutes ago</small></h4>
                  <h6 class="text-muted"></h6>
                  <p>Chance too good. God level bars. I&apos;m so proud of @LifeOfDesiigner #1 song in the country. Panda! Don&apos;t be scared of the truth because we need to restart the human foundation in truth I stand with the most humility. We are so blessed!</p>
                  <div class="media-footer">
                    <a href="#pablo" class="btn btn-primary btn-link float-right" rel="tooltip" title="Reply to Comment">
                      <i class="material-icons">reply</i> Reply
                    </a>
                    <a href="#pablo" class="btn btn-danger btn-link float-right">
                      <i class="material-icons">favorite</i> 243
                    </a>
                  </div>
                </div>
              </div>
              <div class="media">
                <a class="float-left" href="#pablo">
                  <div class="avatar">
                    <img class="media-object" alt="Tim Picture" src="https://upload.wikimedia.org/wikipedia/commons/8/89/Portrait_Placeholder.png">
                  </div>
                </a>
                <div class="media-body">
                  <h4 class="media-heading">John Camber <small>&#xB7; Yesterday</small></h4>
                  <p>Hello guys, nice to have you on the platform! There will be a lot of great stuff coming soon. We will keep you posted for the latest news.</p>
                  <p> Don&apos;t forget, You&apos;re Awesome!</p>
                  <div class="media-footer">
                    <a href="#pablo" class="btn btn-primary btn-link float-right" rel="tooltip" title="Reply to Comment">
                      <i class="material-icons">reply</i> Répondre
                    </a>
                    <a href="#pablo" class="btn btn-link float-right">
                      <i class="material-icons">favorite</i> 25
                    </a>
                  </div>
                  <div class="media">
                    <a class="float-left" href="#pablo">
                      <div class="avatar">
                        <img class="media-object" alt="64x64" src="https://upload.wikimedia.org/wikipedia/commons/8/89/Portrait_Placeholder.png">
                      </div>
                    </a>
                    <div class="media-body">
                      <h4 class="media-heading">Tina Andrew <small>&#xB7; 12 Hours Ago</small></h4>
                      <p>Hello guys, nice to have you on the platform! There will be a lot of great stuff coming soon. We will keep you posted for the latest news.</p>
                      <p> Don&apos;t forget, You&apos;re Awesome!</p>
                      <div class="media-footer">
                        <a href="#pablo" class="btn btn-primary btn-link float-right" rel="tooltip" title="Reply to Comment">
                          <i class="material-icons">reply</i> Répondre
                        </a>
                        <a href="#pablo" class="btn btn-link btn-secondary float-right">
                          <i class="material-icons">favorite</i> 2
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <h3 class="title text-center">Postez votre commentaire</h3>
            <div class="media media-post">
              <a class="author float-left" href="#pablo">
                <div class="avatar">
                  <img class="media-object" alt="64x64" src="https://upload.wikimedia.org/wikipedia/commons/8/89/Portrait_Placeholder.png">
                </div>
              </a>
              <div class="media-body">
                <div class="form-group label-floating bmd-form-group">
                  <label class="form-control-label bmd-label-floating" for="exampleBlogPost"> Merci de rester civil.e et poli.e.</label>
                  <textarea class="form-control" rows="5" id="exampleBlogPost"></textarea>
                </div>
                <div class="media-footer">
                  <a href="#pablo" class="btn btn-primary btn-round btn-wd float-right">Envoyer</a>
                </div>
              </div>
            </div> <!-- end media-post -->
          </div>
        </div>
      </div>
    </div>
  </div>
</body>