<!--
 =========================================================
 Material Kit PRO - v2.2.0
 =========================================================
 Product Page: https://themes.getbootstrap.com/product/material-kit-pro/
 Copyright 2019 Creative Tim (https://www.creative-tim.com)
 Coded by Creative Tim
 =========================================================
 The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<body class="blog-post sidebar-collapse">
  <div class="page-header header-filter" data-parallax="true" style="background-image: url('https://static.wixstatic.com/media/40da79353be1422480640cb59eb29b1f.jpg/v1/fill/w_2313,h_1301,al_c,q_85/40da79353be1422480640cb59eb29b1f.jpg');">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <h1 class="title"><%= @lesson.title %></h1>
          <h4>Un cours proposé par <%= @lesson.teacher_id %></h4>
          <br>
        </div>
      </div>
    </div>
  </div>
  <div class="main main-raised">
    <div class="container">
      <div class="section section-text">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
            <% if @lesson.student_ids == current_user.id%>
              <%= link_to "Inscris" , class:"btn btn-primary btn-round" %>
              <div class="ripple-container"></div>
              <% else %>
                <%= link_to "S'inscrire", lesson_classrooms_path(@lesson.id), method: :post, class:"btn btn-primary btn-round"   %>
              <div class="ripple-container"></div>
               <% end %>
            <p><%= @lesson.content %></p>
          </div>
        </div>
      </div>
      <div class="section section-blog-info">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
            <div class="row">
              <div class="col-md-6">
                <div class="blog-tags">
                  Catégorie :
                  <span class="badge badge-primary badge-pill"><%= @lesson.category %></span>
                </div>
              </div>
            </div>
            <hr>
          </div>
        </div>
      </div>
      <div class="section section-comments">
        <div class="row">        
          <div class="col-md-8 ml-auto mr-auto">
            <div class="media-area">
              <h3 class="title text-center">Commentaires</h3>
              <% @comments.each do |comment| %> 
                <% if @lesson.id == comment.lesson_id %>
              <div class="media">  
                <a class="float-left" href="#">
                  <div class="avatar">
                    <img class="media-object" src="https://upload.wikimedia.org/wikipedia/commons/8/89/Portrait_Placeholder.png" alt="...">
                  </div>
                </a>
                <% if @lesson.id == comment.lesson_id %>
                <div class="media-body">
                  <h4 class="media-heading"><%= @comment.user %><small>&#xB7; 7 minutes ago</small></h4>
                  <h6 class="text-muted"></h6>
                  <p><%= comment.content %></p>
                  <br>
                    <% if session[:user_id]%> 
                      <% if current_user.id == @lesson.user_id || current_user.id == comment.user_id%>
                      <%end%>
                    <%end%>
                </div>   
              </div>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
 
        <h3 class="text-center">Laissez votre commentaire <br></h3>
        <div class="media media-post">
          <a class="author float-left" href="#">
            <div class="avatar">
                <img class="media-object" alt="64x64" src="./assets/img/faces/avatar.jpg">
            </div>
          </a>
          <div class="media-body">
            <div class="media-body">
                <%= form_with model: @comment, url: [@lesson, @comment], local: true, class: "form" do |form| %>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group bmd-form-group">
                      <%= form.text_field :content, class: "form-control", placeholder: "Contenu du commentaire" %>                     
                  </div>          
                </div>
                <div class="media-footer">
                    <%= form.submit class: "btn btn-primary btn-wd float-right", value: "Poster le commentaire" %>
                </div>
                    <% end %>
              </div>
            </div> 
          </div>
        </div>
      </div>
    </div>
  </div>
</body>