
<div class="page-header header-filter" data-parallax="true" style="background-color: blue">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <div class="brand text-center">
            <h1>Nos Couturiers en herbe</h1>
            <h3 class="title text-center">Un peu de tricot, deux belottes de laines et beaucoup d'amour  </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main main-raised">
    <div class="container">
      <div class="section text-center">
        <h2 class="title">Prend bien soin de ta communauté Administrator</h2>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8">
              <ul class="nav nav-pills nav-pills-icons" role="tablist">
                <!--
                                color-classes: "nav-pills-primary", "nav-pills-info", "nav-pills-success", "nav-pills-warning","nav-pills-danger"
                            -->
                <li class="nav-item">
                  <a class="nav-link active show" href="#home-1" role="tab" data-toggle="tab" aria-selected="true">
                    <i class="material-icons">home</i>
                        Home
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#assignment_returned-1" role="tab" data-toggle="tab" aria-selected="false">
                    <i class="material-icons">assignment_returned</i>
                    Validation 
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#face-1" role="tab" data-toggle="tab" aria-selected="false">
                    <i class="material-icons">face</i>
                    Apprentis
                  </a>
                </li>
              </ul>
              <div class="tab-content tab-space">
                <div class="tab-pane active show" id="home-1">
                  On rentre à la maison ? C'est par <%= link_to "ici", admin_root_path %> !
                </div>
                <div class="tab-pane" id="assignment_returned-1">
                  Administrator vous avez des nouveaux cours à valider !
                  <br><br>Il serait temps de s'en occuper !   <%= link_to "Valider les cours", admin_lessons_path %>
                </div>
                <div class="tab-pane" id="face-1">
                  Administrator, vous pouvez visualiser tous les nouveaux petits couturiers et ancien par la même occasion. 
                  <br><br>N'hésite pas à venir à dire bonjour aux nouveaux ! <%= link_to "Nos Couturiers en herbe", admin_users_path %>
                </div>
              </div>
              </div>
              
              <br><br>
    
      <div class="table-responsive">
    
                  <table class="table">
                    <thead>
                      <tr>
                        <th class="text-center">#</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Cours fournis</th>
                        <th class="text-right">Cours suivis</th>
                        <th class="text-right">Actions</th>
                      </tr>
                    </thead>
                    <% @users.each do |user|%>
                    <tbody>
                      
                        <td class="text-center"><%= user.id %></td>
                        <td><%= user.username %></td>
                        <td><%= user.email %></td>
                        <td><%= user.taught_lessons.count %> </td>
                        <td class="text-right"><%= Classroom.where(student_id: user.id).count %>   </td>
                        <td class="td-actions text-right">
                          <a  href="<%= user_path(user.id)%>" rel="tooltip" class="btn btn-success btn-just-icon btn-sm" data-original-title="" title="">
                            <i class="material-icons">account_box</i>
                          </a>
                        
                        </td>
                    
                    </tbody>
                    <% end %>
                  </table>
                  
      </div>
                
                </div>
  </div>