
<div class="page-header header-filter" data-parallax="true" style="background-color: blue">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <div class="brand text-center">
            <h1>Nos Couturiers en herbe</h1>
            <h3 class="title text-center">Un peu de tricot, deux belottes de laines et beaucoup d'amour  </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main main-raised">
    <div class="container">
      <div class="section text-center">
        <h2 class="title">Prend bien soin de ta communauté Administrator</h2>
      </div>
     
      <div class="table-responsive">
     
                  <table class="table">
                    <thead>
                      <tr>
                        <th class="text-center">#</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Cours fournis</th>
                        <th class="text-right">Cours suivis</th>
                        <th class="text-right">Actions</th>
                      </tr>
                    </thead>
                    <% @users.each do |user|%>
                    <tbody>
                       
                        <td class="text-center"><%= user.id %></td>
                        <td><%= user.username %></td>
                        <td><%= user.email %></td>
                        <td><%= user.taught_lessons.count %> </td>
                        <td class="text-right"><%= Classroom.where(student_id: user.id).count %>   </td>
                        <td class="td-actions text-right">
                          <button type="button" rel="tooltip" class="btn btn-info btn-just-icon btn-sm" data-original-title="" title="">
                            <i class="material-icons">done_outline</i>
                          </button>
                          <button type="button" rel="tooltip" class="btn btn-success btn-just-icon btn-sm" data-original-title="" title="">
                            <i class="material-icons">edit</i>
                          </button>
                          <button type="button" rel="tooltip" class="btn btn-danger btn-just-icon btn-sm" data-original-title="" title="">
                            <i class="material-icons">close</i>
                          </button>
                        </td>
                     
                    </tbody>
                    <% end %>
                  </table>
                  
                </div>
                
                </div>
  </div>